body {
  font-family: Arial, sans-serif;
  background-color: #e0f7fa;
  margin: 0;
  padding: 20px;
}

h1 {
  font-family: Arial, sans-serif;
  font-weight:700;
  color: #00796b;
  text-align: center;
  margin-bottom: 40px;
}

.malla-grid {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding: 10px;
  justify-content: flex-start;
}

.semestre {
  min-width: 220px;
  background-color: #b2ebf2;
  border: 2px solid #00acc1;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.semestre h2 {
  text-align: center;
  color: #006064;
  font-size: 1.1 rem;
  margin-bottom: 12px;
  border-bottom: 1px solid #f8bbd0;
  padding-bottom: 6px;
}

.ramo:hover {
  background: #00acc1
  border: 1px solid #00bcd4;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
  color: #00acc1;
  transform: translateY(-3px);
   
}

.ramo:active {
  box-shadow: inset 3px 3px 5px #00acc1, inset -3px -3px 5px #ffbed4;
  transform: translateY (1px)
}

.ramo.aprobado {
  background-color: #a5d6a7;
  text-decoration: line-through;
  color: #2e7d32;
}

.ramo.bloqueado {
  opacity: 0.4;
  cursor: not-allowed;
}
